name: docker-k8s-hello

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    env:
      IMAGE: ghcr.io/${{ github.repository_owner }}/docker-k8s-cicd-v1:latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ env.IMAGE }}

      # Assume KUBECONFIG content is stored in a secret - Need to find out!!
      - name: Set up kubeconfig
        run: |
          mkdir -p $HOME/.kube
          echo "${KUBECONFIG_CONTENT}" > $HOME/.kube/config
        env:
          KUBECONFIG_CONTENT: ${{ secrets.KUBECONFIG_CONTENT }}

      - name: Deploy to Kubernetes
        run: |
          sed "s|ghcr.io/manavj11/docker-k8s-cicd-v1:latest|${IMAGE}|g" k8s/deployment.yaml | kubectl apply -f -
